<!doctype html>
<html>
<head>
    <title>Administrator - Korisnici </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css">
    <link href="https://fonts.googleapis.com/css?family=Quicksand:300,400" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/bootstrap.css">
    <link rel='stylesheet' href='/stylesheets/style_admin.css'>
</head>
<body>
<nav class="navbar">
    <span class="open-slide">
      <a href="#" onclick="openSlideMenu()">
        <svg width="30" height="30">
            <path d="M0,5 30,5" stroke="#fff" stroke-width="5"/>
            <path d="M0,14 30,14" stroke="#fff" stroke-width="5"/>
            <path d="M0,23 30,23" stroke="#fff" stroke-width="5"/>
        </svg>
      </a>
    </span>
    <ul class="navbar-nav">&nbsp;&nbsp;Administrator - Korisnici</ul>
</nav>

<div id="side-menu" class="side-nav">
    <a href="#" class="btn-close" onclick="closeSlideMenu()">&times;</a>
    <a href="/administrator_korisnici" style="color: white; font-weight: bold; font-size: 20px;"><i class='fas fa-user text-white'></i>&nbsp; Korisnici</a>
    <a href="/administrator_autori" style=" font-size: 20px;"><i class="fas fa-pencil-alt text-white"></i>&nbsp; Autori</a>
    <a href="/administrator_zanrovi" style=" font-size: 20px;"><i class="far fa-file-alt text-white"></i>&nbsp; Žanrovi</a>
    <a href="/administrator_pesme" style="font-size: 20px;"><i class='fas fa-music text-white'></i>&nbsp; Pesme</a>
    <a href="/administrator_logout" style="font-size: 20px;"><i class="fas fa-sign-out-alt"></i>&nbsp; Odjavi se</a>
</div>

<div class="container py-2 my-5">
    <div class='row justify-content-end my-5'>
        <a class="btn" data-toggle="modal" data-target="#modalnew" role="button">Dodaj korisnika</a>
    </div>
    <div class='table-responsive-sm'>
        <table class="table">
            <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Ime i prezime</th>
                <th scope="col">Korisničko ime</th>
                <th scope="col">Email</th>
                <th scope="col">Akcije</th>
            </tr>
            </thead>
            <tbody>
            <% data.forEach(function(i) { %>
                <tr>
                    <td><%= i.id%></td>
                    <td><%= i.ime_prezime%></td>
                    <td><%= i.korisnicko_ime%></td>
                    <td><%= i.email%></td>
                    <td style="display: none;"><%= i.lozinka%></td>
                    <td>
                        <a href="/administrator_korisnici/izmeni/<%= i.id %>" class="icon-btn text-warning" data-toggle="modal" data-target="#modaledit<%= i.id %>" role="button"><i class="fas fa-edit"></i></a>
                        <a href="/administrator_korisnici/izbrisi/<%= i.id %>" onclick="return confirm('Da li ste sigurni da želite da obrišete navedenog korisnika?')" class="icon-btn text-danger" role="button"><i class="fas fa-trash-alt"></i></a>
                    </td>
                </tr>
                <div id="modaledit<%= i.id %>" class="modal fade" role="dialog">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title">Izmena korisnika</h4>
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                            </div>
                            <div class="modal-body">
                                <div class="container">
                                    <div class="formholder">
                                        <form action="/administrator_korisnici/izmeni/<%= i.id %>" method="POST">
                                            <div class="row form-group">
                                                <input type="hidden" name="id" value="<%= i.id %>">
                                                <input type="text" placeholder="Ime i prezime" name="ime_prezime" value="<%= i.ime_prezime %>">
                                                <i class="fas fa-user"></i>
                                            </div>
                                            <div class="row form-group">
                                                <input type="text" placeholder="Korisničko ime" name="korisnicko_ime" value="<%= i.korisnicko_ime %>">
                                                <i class="fas fa-user-circle"></i>
                                            </div>
                                            <div class="row form-group">
                                                <input type="email"  placeholder="E-mail" name="email" value="<%= i.email %>">
                                                <i class="fas fa-envelope"></i>
                                            </div>
                                            <div class="row form-group">
                                                <input type="password"  placeholder="Lozinka" name="lozinka" value="<%= i.lozinka %>">
                                                <i class="fas fa-key"></i>
                                            </div>
                                            <div class="row form-group">
                                                <input type="submit" class="btn" value="Sačuvaj">
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn-default" data-dismiss="modal" style="border: none; outline: none;">Otkaži</button>
                            </div>
                        </div>
                    </div>
                </div>
            </tbody>
            <% }) %>
        </table>
    </div>
</div>

<div id="modalnew" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Dodavanje novog korisnika</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="formholder">
                        <form action="administrator_korisnici" method="POST">
                            <div class="row form-group">
                                <input type="text" placeholder="Ime i prezime" name="ime_prezime" required>
                                <i class="fas fa-user"></i>
                            </div>
                            <div class="row form-group">
                                <input type="text" placeholder="Korisničko ime" name="korisnicko_ime" required>
                                <i class="fas fa-user-circle"></i>
                            </div>
                            <div class="row form-group">
                                <input type="email"  placeholder="E-mail" name="email" required>
                                <i class="fas fa-envelope"></i>
                            </div>
                            <div class="row form-group">
                                <input type="password"  placeholder="Lozinka" name="lozinka" required>
                                <i class="fas fa-key"></i>
                            </div>
                            <div class="row form-group">
                                <input type="submit" class="btn" value="Sačuvaj">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn-default" data-dismiss="modal" style="border: none; outline: none;">Otkaži</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="javascripts/admin_script.js"></script>
<script type="text/javascript" src="/jquery.js"></script>
<script type="text/javascript" src="js/bootstrap.js"></script>
</body>
</html>


